<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a
    class="navbar-brand mx-auto"
    routerLink="/cartelera"
    style="font-size: 2rem;"
    >CineApp</a
  >
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto" style="font-size: 1.5rem;">
      <li class="nav-item">
        <a class="nav-link" routerLink="/cartelera">Cartelera</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/alimentos">Alimentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ubicanos">Ubicanos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/perfil">Perfil</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
