<!--<div class="card flex justify-content-center">
  <p-calendar [(ngModel)]="date"></p-calendar>
</div>
-->
<p></p>
<div class="table-container">
  <table class="movie-table">
    <tr>
      <td>Título:</td>
      <td>{{ pelicula.titulo }}</td>
    </tr>
    <tr>
      <td></td>
      <td><img [src]="pelicula.imagenUrl" [alt]="pelicula.titulo" /></td>
    </tr>
  </table>
</div>
<!--<div class="card flex justify-content-center">
  <p-calendar
    [(ngModel)]="date"
    [showTime]="true"
    [showSeconds]="true"
  ></p-calendar>
</div>-->
