.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.movie-table {
  border-collapse: collapse;
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.movie-table td {
  padding: 10px;
  text-align: left;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}

.movie-table td:first-child {
  font-weight: bold;
  width: 150px;
}

.movie-table td:last-child {
  text-align: right;
}
